/* ========================
This file is compiled in the main tailwind css file, but thought I would include seperate to make it easier to find incase you want tjo put any inside components to make life easier.

- global styles for things like lists, and links that are annoying to style each. 
- custom styles hard to achieve with tailwind.

======================== */

:root {
  interpolate-size: allow-keywords;
  --cut-size: 1em;
}

html {
  scroll-padding-top: 140px;
  scroll-behavior: smooth;
}

/* Typography ============ */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: bold;
}

h3,
h4,
h5,
h6,
p,
ul,
ol,
q {
  /* No one likes to set margin for every body element */
  margin-bottom: 0.5em;
}

/* Readability adjustments. Layout and font sizes should be good, but prevents lines of text getting too long at any time*/
h4,
h5,
h6,
p,
li,
q,
blockquote {
  text-wrap: pretty;
  max-width: 60ch;
}

main {
  /* Main body list styles */
  ul {
    margin-left: 1.2em;
    margin-bottom: 1.2em;
    li::before {
      content: "»";
      color: var(--color-primary-200);
      font-weight: bold;
      margin-right: 0.6em;
    }
  }
  ol {
    counter-reset: li;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
    li {
      position: relative;
      counter-increment: li;
    }
    li::before {
      display: inline-block;
      width: 1em;
      content: counter(li) ". ";
      counter-increment: item;
      color: var(--primary-200);
      font-weight: bold;
      text-align: right;
      margin-right: 0.6em;
    }
  }
}

/* Nav Link Styles */
nav a:not(.cta, .logo)::before,
nav a:not(.cta, .logo)::after {
  content: "";
  display: block;
  width: 0.8em;
}

nav a:not(.cta, .logo):hover::before {
  content: "»";
  color: var(--color-primary-300);
}

nav a:not(.cta, .logo):hover::after {
  content: "«";
  color: var(--color-primary-300);
  text-align: right;
}

/* Body Link Styles */
p a,
p a:link,
p a:visited {
  color: var(--secondary-600);
  text-decoration: underline;
  text-decoration-style: dotted;
}

p a:hover {
  color: var(--color-primary-300);
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Buttons and Forms ============ */

.btn-glass {
  backdrop-filter: blur(10px) saturate(180%);
}
.btn-glass::after {
  content: "";
  position: absolute;
  height: 48%;
  width: 88%;
  top: 0.1em;
  left: 6%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 60%),
    rgba(255, 255, 255, 0%)
  );
  border-radius: 100px;
  z-index: 1;
}

.btn-body::before {
  content: "» ";
  position: relative;
  top: -1px;
  color: var(--color-secondary-700);
}
.btn-body::after {
  content: " «";
  position: relative;
  top: -1px;
  color: var(--color-secondary-600);
  text-align: right;
}
.btn-body:hover::after,
.btn-body:hover::before {
  color: var(--color-primary-300);
}

/* Sections and Banners ============ */

hr.divider-sword {
  background-image: url("../assets/images/layout/divider-sword.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

/* CTA Banner Chevrons */
.banner-cta::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-cta-500);
  background-image: url("../assets/images/layout/chevron-green-small.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  z-index: -1;
}

.banner-cta::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/layout/chevron-green-small.svg");
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
  transform: scaleX(-1);
}

/* Zugcat Unique Styles ============ */

svg.cyber-text {
  /* Glow for inline svg icons with currentColor set. Not for text because of vision accessability */
  filter: drop-shadow(0 0 2px var(--color-secondary-500));
}
.cyber-shape {
  border: 2px;
  border-color: var(--color-secondary-500);
  border-style: solid;
  box-shadow: 0 0 0.5em 0 var(--color-secondary-500);
}

.seperator-cyber-metal, .seperator-cyber-purple {
  height:0;
  position: relative;
}
.seperator-cyber-metal hr{
  height: 64px; 
  width: 100%; 
  display: block; 
  position: relative; 
  top: -32px; 
  border-top-width:0;
  background-image: url('../assets/images/layout/seperator-cyber-metal.svg'); 
  background-size:1300px 64px;
  background-position: center top;
  background-repeat: repeat-x;
  z-index:10;
}

.seperator-cyber-purple hr{
  height: 64px; 
  width: 100%; 
  display: block; 
  position: relative; 
  top: -32px;
  border-top-width:0;
  background-image: url('../assets/images/layout/seperator-cyber-purple.svg'); 
  background-size:1300px 64px ; 
  background-position: center; 
  background-repeat: repeat-x;
  z-index:10;
}

@supports (corner-shape: bevel) {
  /* Using new CSS fallback is plain square */
  .cyber-shape {
    corner-shape: bevel;
    border-bottom-left-radius: var(--cut-size);
    border-top-right-radius: var(--cut-size);
  }
}

/* 
Photo filter to make photos look Cyberpunk and boost saturation darks.
class needs to be applied to a div wrapped around the image you want to apply this filter
 */

.img-cyberify {
  display: inline-block;
  position: relative;
  line-height: 0;
  background: #ffffff;
}
.img-cyberify > img {
  -webkit-filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg)
    invert(0%) opacity(100%) saturate(122%) sepia(0%);
  filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg)
    invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}

/* 
Retro screen HUD background for elements (overlay style)
 */
.retro-screen {
  background-image: url("../assets/images/layout/overlay-tile-retro-screen.png");
  background-repeat: repeat;
  box-shadow:
    inset 10px 10px 5px rgba(from var(--color-primary-accent-500) r g b / 0.05),
    inset 5px 5px 5px rgba(from black r g b / 1),
    inset -10px -10px 5px rgba(from black r g b / 0.5);
}

.retro-screen-overlay::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/layout/overlay-tile-retro-screen.png");
  background-repeat: repeat;
}

/* 
My Tailwind wasn't compliing basic gradients for some reason. A simple corner glow that fits the cyberpunk style of blooming light.
 */
.gradient-primary {
  background: var(--color-primary-800);
  background: linear-gradient(
    190deg,
    var(--color-primary-800) 0%,
    var(--color-primary-950) 50%,
    var(--color-primary-950) 100%
  );
}
.gradient-secondary {
  background: var(--color-secondary-700);
  background: linear-gradient(
    190deg,
    var(--color-secondary-700) 0%,
    var(--color-secondary-900) 50%,
    var(--color-secondary-900) 100%
  );
}
.gradient-cta {
  background: var(--color-primary-accent-500);
  background: linear-gradient(
    190deg,
    var(--color-primary-accent-500) 0%,
    var(--color-cta-500) 100%
  );
}

@media screen and (min-width: 1023px) {
  /* LG+ Screens ============ */
  /* CTA Banner Chevrons XL */
  .banner-cta::before {
    content: "";
    background-image: url("../assets/images/layout/chevron-green-large.svg");
  }
  .banner-cta::after {
    content: "";
    background-image: url("../assets/images/layout/chevron-green-large.svg");
  }
}
