/* ========================
This file is compiled in the main tailwind css file, but thought I would include seperate to make it easier to find incase you want tjo put any inside components to make life easier.

- global styles for things like lists, and links that are annoying to style each. 
- custom styles hard to achieve with tailwind.

======================== */

:root {
  interpolate-size: allow-keywords;

/* Zugcat Colors ============ */

  --primary: #40c3d8;
  --primary-50: #ecf9fb;
  --primary-100: #c6edf3;
  --primary-200: #a0e1ec;
  --primary-300: #7ad5e4;
  --primary-400: #53c9dc;
  --primary-500: #40c3d8;
  --primary-600: #39afc2;
  --primary-700: #2d8897;
  --primary-800: #20616c;
  --primary-900: #133a40;
  --primary-950: #061315;

  --secondary: #9352a1;
  --secondary-50: #f4eef6;
  --secondary-100: #dfcbe3;
  --secondary-200: #c9a9d0;
  --secondary-300: #b486bd;
  --secondary-400: #9e64ab;
  --secondary-500: #9352a1;
  --secondary-600: #844a91;
  --secondary-700: #673970;
  --secondary-800: #492950;
  --secondary-900: #2c1830;
  --secondary-950: #0e0810;

  --orange: #d9823b;
  --orange-50: #fbf3ec;
  --orange-100: #f4dac5;
  --orange-200: #ecc19d;
  --orange-300: #e4a876;
  --orange-400: #dd8f4f;
  --orange-500: #d9823b;
  --orange-600: #c37535;
  --orange-700: #975b29;
  --orange-800: #6c411d;
  --orange-900: #412712;
  --orange-950: #150d06;

  --green: #a8cf42;
  --green-50: #f6faec;
  --green-100: #e5f1c7;
  --green-200: #d4e7a1;
  --green-300: #c2dd7b;
  --green-400: #b1d455;
  --green-500: #a8cf42;
  --green-600: #97ba3b;
  --green-700: #75902e;
  --green-800: #546721;
  --green-900: #323e14;
  --green-950: #101406;

  --neutral: #846751;
  --neutral-50: #f3f0ee;
  --neutral-100: #dad2cb;
  --neutral-200: #c2b3a8;
  --neutral-300: #a99586;
  --neutral-400: #917663;
  --neutral-500: #846751;
  --neutral-600: #775c49;
  --neutral-700: #5c4839;
  --neutral-800: #423328;
  --neutral-900: #271f18;
  --neutral-950: #0d0a08;

  --gray: #657d80;
  --gray-50: #f0f2f3;
  --gray-100: #d1d8d9;
  --gray-200: #d1d8d9;
  --gray-300: #b2bec0;
  --gray-400: #94a4a6;
  --gray-500: #657d80;
  --gray-600: #5b7073;
  --gray-700: #475759;
  --gray-800: #323e40;
  --gray-900: #1e2526;
  --gray-950: #0a0c0d;

  --cta: #ff4aa1;
  --cta-50: #ffedf6;
  --cta-100: #ffc9e3;
  --cta-200: #ffa5d0;
  --cta-300: #ff81bd;
  --cta-400: #ff5cab;
  --cta-500: #ff4aa1;
  --cta-600: #e54291;
  --cta-700: #b23470;
  --cta-800: #7f2550;
  --cta-900: #4c1630;
  --cta-950: #190710;
}


html {
  scroll-padding-top: 140px;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

/* Typography ============ */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h3,
h4,
h5,
h6,
p,
ul,
ol,
q { /* No one likes to set margin for every body element */ 
  margin-bottom:1.2em;
}

/* Readability adjustments. Layout and font sizes should be good, but prevents lines of text getting too long at any time*/ 
h4,
h5,
h6,
p,
li,
q,
blockquote { 
    text-wrap: pretty; 
    max-width: 60ch;
  }

main{
    /* Global List Styles */ 
    ul {
    margin-left: 1.2em;
    margin-bottom: 1.2em;
     li::before {
        content: "»";
        color: var(--secondary-200);
        font-weight: bold;
        margin-right: 0.6em;
    }
    }
    ol {
    counter-reset: li;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
         li {
            position: relative;
            counter-increment: li;
        }
         li::before {
            display: inline-block;
            width: 1em;
            content: counter(li) ". ";
            counter-increment: item;
            color: var(--secondary-200);
            font-weight: bold;
            text-align: right;
            margin-right: 0.6em;
        }
    }
    
}

/* Global Link Styles */ 

nav a:not(.cta)::before,
nav a:not(.cta)::after {
  content: "";
  display: block;
  width: 0.8em;
}

nav a:not(.cta):hover::before {
  content: "»";
  color: var(--secondary-300);
}

nav a:not(.cta):hover::after {
  content: "«";
  color: var(--secondary-300);
  text-align: right;
}

p a, p a:link, p a:visited {
        color: var(--orange-300);
        text-decoration: underline;
}

p a:hover {
    color: var(--green-300)
}

/* Sections and Banners ============ */

/* CTA Banner Chevrons */
.banner-cta::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cta-600);
  background-image: url("../assets/images/Layout/chevron-green-small.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  z-index: -1;
}

.banner-cta::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/Layout/chevron-green-small.svg");
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
  transform: scaleX(-1);
}

/* Zugcat Unique Styles ============ */

/* 
Photo filter to make photos look Cyberpunk and boost saturation darks.
class needs to be applied to a div wrapped around the image you want to apply this filter
 */
.img-cyberify {
  display: inline-block;
  position: relative;
  line-height: 0;
  background: #ffffff;
}
.img-cyberify::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  background: #fae900;
  opacity: 0.23;
}
.img-cyberify > img {
  -webkit-filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg)
    invert(0%) opacity(100%) saturate(122%) sepia(0%);
  filter: brightness(103%) contrast(114%) grayscale(0%) hue-rotate(0deg)
    invert(0%) opacity(100%) saturate(122%) sepia(0%);
  mix-blend-mode: none;
}

/* 
Retro screen HUD background for elements (overlay style)
 */
.retro-screen {
  background-image: url("../assets/images/Layout/overlay-tile-retro-screen.png");
   background-repeat: repeat;
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.08),
    inset -20px -20px 20px rgba(0, 0, 0, 0.3);
   
}

hr.divider-sword{
    background-image: url("../assets/images/Layout/divider-sword.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

/* 
My Tailwind wasn't compliing basic gradients for some reason. A simple corner glow that fits the cyberpunk style of blooming light.
 */
.gradient-primary {
  background: var(--primary-800);
  background: linear-gradient(
    190deg,
    var(--primary-800) 0%,
    var(--primary-950) 50%,
    var(--primary-950) 100%
  );
}

.gradient-secondary {
  background: var(--secondary-700);
  background: linear-gradient(
    190deg,
    var(--secondary-700) 0%,
    var(--secondary-900) 50%,
    var(--secondary-900) 100%
  );
}

@media screen and (min-width: 1519px) { /* LG+ Screens ============ */
/* CTA Banner Chevrons XL */
  .banner-cta::before {
    content: "";
    background-image: url("../assets/images/Layout/chevron-green-large.svg");
  }
  .banner-cta::after {
    content: "";
    background-image: url("../assets/images/Layout/chevron-green-large.svg");
  }
}
